<div class="col-md-12">
  <div class="kindergarten">
    <%= link_to("New kindergarten", new_kindergarten_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Location</td>
        <td>Price</td>
      </tr>
    </thead>
    <tbody>
      <% @kindergartens.each do |kindergarten| %>
        <tr>
          <td>#</td>
          <td><%= link_to(kindergarten.title, kindergarten_path(kindergarten)) %></td>
          <td><%= kindergarten.location %></td>
          <td><%= kindergarten.price %></td>
          <td>
              <%= link_to("Edit", edit_kindergarten_path(kindergarten), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", kindergarten_path(kindergarten),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
